@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(./varela.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  margin: 0;
  
}

img {max-width: 100%}
.container {width: 100%;}
.album {
  position: relative;
}
.album h1 {
  font-family: Helvetica;
  position: absolute;
  top: 45px;  
  left: 45px;
  color:#f5f5f5;
  font-size: 48px;
}

.back {
  position: fixed;
  width: 110px;
  height: 100px;  
  bottom: 20px;
  right: 20px;
  z-index: 10;
  background-image: url("../backarrow.png");
  background-repeat: no-repeat;
  background-size: 100px 100px;
}